html {
    overflow-x: hidden;
}
body {
    position: relative;
    font-family: 'Abel';
    background-color: rgb(234, 234, 238);
}
.col-sm-8{
    padding: 10vh 10vw 10vh 10vw;
    size: 100vw;
    background-color: #ffffff;
}
*, ::after, ::before {
    box-sizing: unset;
}

hr.solid {
    border-top: 3px solid #bbb;
    z-index: 0;
}
#footericon{
    width: 5%;
    height: 5%;
}
.prettyprint{
    background-color: rgb(234, 234, 238);
    border-radius: 1em;


}
button{
    margin: 1vh;
}
video {
    width: 25vh;
    height: auto;
}
img{
    height: 25vh;
    width: auto;
    animation: 1s ease-out 0s 1 slideInRight;
}
.col-sm-8 p{
    animation: 1s ease-out 0s 1 slideInLeft;
}
.col-sm-8 img {
    margin: 1vh 0 1vh 0;
}
/*titelcard galerie*/
.card{
    margin: 3vh;
    text-align: center;
}
.card h1{
    font-weight: bold;
}
.card form {
    margin-right: 20vw;
    margin-left: 20vw;
}
.card button{
    margin-left: 45vw;
}
/*galerie*/
.gallery{
    margin: 3vh;
}
.gallery img:hover{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.58), 0 7px 21px 0 rgba(0, 0, 0, 0.66);
    text-align: center;
}
.left{
    float: left;
    overflow-y: scroll;
    height: 50vh;
    width: 70vw;
}
.left img {
    margin: 1vh;
    max-width: 25vw;
    max-height: 100vh;
    animation: none
}

.left a {
    animation: none;
}

.right{
    float: right;
    overflow-y: hidden;
    width: 25vw;
}
.right img{
    position: relative;
    animation: none;
    max-width: 25vw;
    max-height: 100vh;
}
.right a{
    margin: 0;
    animation: 1s ease-out 0s 1 slideInBottom;
}


/* navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: 1s ease-out 0s 1 slideInTop;
}

.sticky + .content {
    padding-top: 102px;

}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e1f28;
    box-shadow: inset 0 0 5px #1e1f28;
}
::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    box-shadow: inset 0 0 5px #1c1c1f;
}
::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
    box-shadow: inset 0 0 5px #000000;
}
/* animation */
@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
/* animation */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateY(200%);

    }
    100% {
        transform: translateY(0);
    }
}


body {
    margin: 0;

}
a {
    text-decoration: none;
    display: inline-block;
    animation: 1s ease-out 0s 1 slideInLeft;
}

